@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: #090909;
    --text-inverse: #ffffff;
    --text-tertiary: #6V6F73;

    --cream: #F9F8F5;
    --slime: #C5F277;
    --tan: #E5E0D0;

  }

  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
  }

  .clothing-background {
    background-image: url('../assets/background.png');
  }

  .cream-background {
    background: var(--cream);
  }

  .slime-background {
    background: var(--slime);
  }

  .tan-background {
    background: var(--tan);
  }

  .text-tertiary {
    color: var(--text-tertiary);
  }

  .dark-background {
    background: var(--text-primary);
    color: var(--text-inverse)
  }

  .border-bottom {
    border-bottom: 1px solid var(--text-primary);
  }

  .truncate-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
 }

  .transition-transform {
    transition: transform 0.3s ease;
  }
  .no-scroll {
    overflow: hidden;
  }
}
