@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: #FFFFFF;
  --text-primary-inverse: #090909;
  --text-primary-main: #7724AA;
  --text-secondary: #A6AAAE;
  --text-secondary-inverse: #494A4D;
  --text-bubble-primary: #EB4039;
  --background-bubble-primary: #FFDEE0;
  --background-bubble-secondary: #F0F0F0;
  --border-primary: #CED0D2;
  --background-soft: #F3E5F5;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-tertiary: #820DEB;
  --shadow-primary: 0px 6px 16px 0px #0A0A0A1F, 0px 4px 14px 0px #0A0A0A14, 0px 8px 10px 0px #0A0A0A14;
  --processing-dot-size: 4px;
  --header-footer-background: #DA92FC;
  --button-background: #FDFFAA;
}


body {
  /*background-image: url('assets/ts-chatbot-bg.jpg');*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}




